{% extends "base_generic.html" %}

{% block content %}

<div class="welcome" style="background-color:lightblue">
    <h3 style="font-family:Helvetica Neue;">Order Confirmation</h3>
</div>

<br>

<div>
    <center>
    <h4 style="font-family:Helvetica;">Your order was successful!</h4>
    
    <br>
    
    <h4 style="font-family:Helvetica;">Order No. XXXXXXXX</h4>
    
    <br>
    
    <h4 style="font-family:Helvetica;">A receipt was sent to the email you provided.</h4>
        
    <br>
    </center>
</div>

{% endblock %}