<html>
	{% extends "base_generic.html" %}
	{% block sidebar %}{% endblock %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<head>
	
	{% block title %}<title>Product Details</title>{% endblock %}
	{% block name %}<h1 style="text-align:center;">Product Details</h1>{% endblock %}
</head>
{% block content %}
<body>
	{% for item in items|slice:":1" %}
	<div style="display:inline-block">
	<img src="{{item.image.url}}" height="375" width="375" alt="Italian Trulli">
	</div>
	<div style="display:inline-block">
		<p><strong>Product Name: </strong>{{item.name}}</p>
		<p><strong>Price: </strong>${{item.price}}</p>
		<p><strong>Shipping Speed: </strong>{{item.shipping_speed}} days</p>
		<input placeholder="quantity" type="number" name="quantity">
		<br>
		<br>
		<button style="font-size:20px">Add to cart <i class="fa fa-cart-plus" style="color:orange"></i></button>
	</div>
	<br>
	<br>
	<div style="border:3px solid #000000; width:100%; padding:15px;" class="center">
		<pre><strong>Description: </strong>{{ item.description }}</pre>
	</div>
	{% endfor %}
</body>
{% endblock %}
</html>