<html>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
<head>
	
	<title>Product Details</title>
	<h1 style="text-align:center;">Product Details</h1>
	
	<button style="font-size:20px"> <i class="fa fa-home" style="color:orange"></i></button>
	<button style="font-size:20px"> <i class="fa fa-shopping-cart" style="color:orange"></i></button>
	
<div style="text-align:right">	
	<a style = "text-decoration:none;" href="">Profile Info</a>
	<a style = "text-decoration:none;" href="{% url 'login' %}">Login</a>
	<a style = "text-decoration:none;" href="">Sign up</a>
</div>
<hr>
</head>
<body>
	<img src="" alt="Italian Trulli">
	<ul style="list-style-type:none; padding-left:450px;padding-top:120px;padding-bottom:100px; margin: 20px; line-height:200%">
		<li><strong>Product Name:</strong></li>
		<li><strong>Price:</strong></li>
		<li><strong>Shipping Price:</strong></li>
		<li><strong>Shipping Speed:</strong></li>
		<li><input placeholder="quantity" type="number" name="quantity"></li>
		<li><button style="font-size:20px"> <i class="fa fa-cart-plus" style="color:orange"></i></button></li>
	</ul>
	
	
	<p><strong>Description:</strong></p>
</body>
</html>