{% extends "base_generic.html" %}

{% block content %}

<div class="welcome" style="background-color:lightblue">
    <h1 style="font-family:Helvetica Neue;">FAQs</h1>
    <p style="font-family:Helvetica Neue;">Have questions for us? We have answers.</p>
</div>

<br>

<div>
    <h3 style="font-family:Helvetica;"><b>Question X</b></h3>
    <p style="font-family:Helvetica;">Answer X</p>
    <br>
    <hr>
    <br>
</div>

<div>
    <h3 style="font-family:Helvetica;"><b>Question Y</b></h3>
    <p style="font-family:Helvetica;">Answer Y</p>
    <br>
    <hr>
    <br>
</div>

<div>
    <h3 style="font-family:Helvetica;"><b>Question Z</b></h3>
    <p style="font-family:Helvetica;">Answer Z</p>
    <br>
    <hr>
    <br>
</div>


{% endblock %}