{% extends "base_generic.html" %}

{% block content %}

<div class="welcome" style="background-color:lightblue">
    <h1 style="font-family:Helvetica Neue;">FAQs</h1>
    <p style="font-family:Helvetica Neue;">Have questions for us? We have answers.</p>
</div>

<br>

<div>
    <h3 style="font-family:Helvetica;"><b>Logging in</b></h3>
    <p style="font-family:Helvetica;">If you are looking to login, you can click the login link in the top right corner.</p>
    <br>
    <hr>
    <br>
</div>

<div>
    <h3 style="font-family:Helvetica;"><b>Adding items to cart</b></h3>
    <p style="font-family:Helvetica;">In order to add an item to your cart, view the item you want to buy by using the view details button. You will be taken
	to a product detail page where you can specify the quantity you want and then clicking the add to cart button.</p>
    <br>
    <hr>
    <br>
</div>

<div>
    <h3 style="font-family:Helvetica;"><b>Searching</b></h3>
    <p style="font-family:Helvetica;">Searching can be done in 2 ways; by category or by item search. From the home page 
	you can either click the button correlating to the category you wish to view or for specific item searches you can 
	you the search bar. To access the home page click on the home icon in the top left corner.</p>
    <br>
    <hr>
    <br>
</div>

<div>
    <h3 style="font-family:Helvetica;"><b>Viewing cart and paying</b></h3>
    <p style="font-family:Helvetica;">You can view your cart anytime by clicking the cart icon in the top left corner. From there you can click the checkout
	button to further process your order.</p>
    <br>
    <hr>
    <br>
</div>

<div>
    <h3 style="font-family:Helvetica;"><b>Editing user info</b></h3>
    <p style="font-family:Helvetica;">Once you are logged in, you can access your profile using the link at the top right corner. From there, click on the
	edit button and enter your updated information.</p>
    <br>
    <hr>
    <br>
</div>

<div>
    <h3 style="font-family:Helvetica;"><b>Signing up</b></h3>
    <p style="font-family:Helvetica;">If you are looking to sign up, click on the sign up link in the top right corner.</p>
    <br>
    <hr>
    <br>
</div>

<div>
    <h3 style="font-family:Helvetica;"><b>Contacting support</b></h3>
    <p style="font-family:Helvetica;">To contact us please use the link at the bottom of the page.</p>
    <br>
    <hr>
    <br>
</div>


{% endblock %}