{% extends "base_generic.html" %}

{% block name %}
  <div class="welcome" style="background-color:#404040">
  <font color="#F5F5F5"><h1 style="font-family:Helvetica Neue;text-align:center;">Puter</h1></font>
  <font color="#F5F5F5"><p style="font-family:Helvetica Neue; text-align:center;">Welcome to Puter, the best place to buy anything computer related!</p></font>
  </div>
{% endblock %}

{% block content %}

<style>
    
.input {
  background-color: #FFFFFF; /* White */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: Helvetica Neue;
  margin: 5px 5px;
  cursor: pointer;
    width: 200px;
    height: 200px;
}
    
.inputRed {background-color: #F44336;} /* Red */ 
.inputOrange {background-color: #FF9900;} /* Orange */
.inputYellow {background-color: #FFFF66;} /* Yellow */
.inputGreen {background-color: #33CC00;} /* Green */
.inputBlue {background-color: #66CCFF;} /* Blue */
.inputIndigo {background-color: #9966FF;} /* Indigo */
.inputViolet {background-color: #FF0099;} /* Violet */
.inputBlack {background-color: #777777;} /* Black */
    
</style>

{% if messages %}
<center>
    <strong>
    {% for message in messages %}
    <h2{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h2{%>
    {% endfor %}
    </strong>
</center>
{% endif %}

<br>
  	
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
	<center><form class="searchBar" action="/index/search_result" method="get">
		<input type="text" placeholder="What are you looking for?" name="query" size="30">
		<button type="submit"><i class="fa fa-search"></i></button>
	</form></center>
<div><center>
  <div style="height:20px"></div>
    
<form action="/index/search_result" method="get">
    <input class="input inputRed" type="submit" value="Cases" name="query"/>
    <input class="input inputOrange" type="submit" value="Motherboards" name="query"/>
    <input class="input inputYellow" type="submit" value="CPU" name="query"/>
    <input class="input inputGreen" type="submit" value="GPU" name="query"/>
</form>
    
  <div style="height:5px"></div>
    
<form action="/index/search_result" method="get">
    <input class="input inputBlue" type="submit" value="PSU" name="query"/>
    <input class="input inputIndigo" type="submit" value="Storage" name="query"/>
    <input class="input inputViolet" type="submit" value="Memory" name="query"/>
    <input class="input inputBlack" type="submit" value="Accessories" name="query"/>
</form>

  <div style="height:5px"></div>
</center></div>

{% endblock %}

  <h2>Dynamic content</h2>
  <p>The database has the following record counts:</p>
  <ul>
    <li><strong>Items:</strong> {{ num_items }}</li>
    <li><strong>Categories:</strong> {{ num_categories }}</li>
  </ul>
  <div class="featured">
	


